tab-team { 

    ion-slides{
        background-color:#649cfd;
    }

    ion-slide {
        background-color:#649cfd;
    }

    #slide-title{
        color:rgba(255, 255, 255, 0.7);
    }
    
    .selected{
        background: #3f79dd;
        p{
            color:white!important;
            font-size: 19px!important;
        }
    }
} 

