<ion-header style="padding:0px">
    <ion-toolbar style="padding:0px; max-height:50px">
        <ion-slides  slidesPerView="3">
            <ion-slide *ngFor="let num of userService.getRounds()" [class.selected] = "roundSelected === num" (click)="roundInfo(num)"  >
                    <p id="slide-title">Jornada {{num}}</p>
            </ion-slide>
        </ion-slides>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-scroll style="width:100%;height:100vh" scrollY="true" hideScroll= "true">
        <ion-item *ngFor = "let match of roundMatches" id="match-info">
            <ion-row id ="date">
                <ion-col>
                    {{match.fechaPartido}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf = "match.estado == 'Finalizado'">
                <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
                <ion-col col-1 class= "score-local"><h1>{{match.golesLocal}}</h1></ion-col>
                <ion-col col-2><h1>-</h1></ion-col>
                <ion-col col-1 class = "score-visitor"><h1>{{match.golesVisitante}}</h1></ion-col>
                <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
            </ion-row>
            <ion-row *ngIf = "match.estado != 'Finalizado'">
                <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
                <ion-col col-4><h1>{{match.horaPartido}}</h1></ion-col>
                <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
            </ion-row>
        </ion-item>
    </ion-scroll>
</ion-content>