
	page-home-tabs {
		.scroll-content {
			background-color: #ffffff;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}

		ion-title{
			margin-right: 40px;
			text-align: center;
		}

		.header-md::after{
			background-image: none;
		}

		.tab-button[aria-selected=true]{
			color:#9ed7f8!important;
			border-bottom: 3.5px!important;
			border-style: solid!important;
			border-color: #9ed7f8!important;
			.tab-button-icon{
				color:#9ed7f8!important;
			}
		}

		.tabbar.show-tabbar::after{
			background-image:none!important;
			background: #9ed7f8!important;
			height: 1.5px!important;
			bottom:0!important;
		}

		ion-toolbar.toolbar::after{
			height: 0px!important;
		}

		.tab-button[aria-selected=true] {
			//text-decoration: underline !important;
		}
	}
