
	page-home-tabs {
		.scroll-content {
			background-color: #ffffff;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}

		ion-title{
			margin-right: 40px;
			text-align: center;
		}

		.header-md::after{
			background-image: none;
		}

		ion-toolbar.toolbar::after{
			height: 0px!important;
		}

		.tab-button[aria-selected=true] {
			//text-decoration: underline !important;
		}
	}
