.ios, .md {

	page-login {

	  .scroll-content {
			padding: 0px!important;
			align-content: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		ion-card.card{
			box-shadow: none;
			background: rgba(92, 88, 88, 0.5);
			border-radius: 5px;
		}

		p, ion-card-header.card-header{
			color:rgb(233, 229, 229);
		}

		.item {
			margin-bottom: 10px;
			background: rgba(255, 255, 255, 0.5);
			border: medium none;

			.text-input{
				color:black!important;
			}
			
			*::-webkit-input-placeholder{
				color:rgba(0, 0, 0, 0.5)!important;
			}
		}

		.list > .item-block:first-child {
			border: medium none;
		}

		#div-card{
			position: relative;
			display: block;
		}

	  #background-login {
			position: absolute;
	    	width: 100%;
			height: 100%;
			background-image: url('../assets/imgs/login-background2.jpg');
			background-size: cover;
			background-position: fixed;
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-filter: brightness(50%) saturate(50%);
	  }
	}
}