.page-title{
    max-width: 50%;
    min-width: 480px;
    margin-top: 35px;
    font-size: 150%; 
    margin-left: auto;
    margin-right: auto;
}
.page-title span{
    margin: 0 auto;
}

#no-team-toolbar{
    width: 70%;
    color:white;
    text-align:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background:#3c40c6;
}

#no-team-toolbar span{
    margin: 0 auto;
}

.toolbar-title{
    background: #3c40c6;
    margin-bottom: 20px;
    color: white;
    height: 50px;
}

.toolbar-title span{
    margin: 0 auto;
}

#team-content{
    margin-left: auto;
    margin-right: auto;

    width: 90%;
}

.team-info{
    margin-right: 15px;
    margin-left: 15px;
    max-width: 28%;
    width: 28%;
}

.modify-team-button{
    margin-top: 15px;
    margin-left: 3.75%;
    background: #3c40c6;
    color:white;
}

.control-buttons{
    margin-top:15px;
    color: white;
    background: #3c40c6;
}


