<mat-toolbar class="page-title">
    <span>Mi equipo</span>
</mat-toolbar>

<mat-toolbar class="mat-elevation-z5" id="no-team-toolbar" *ngIf="!userService.getUserTeam()">
    <span>No tienes equipo</span>
</mat-toolbar>

<mat-card id="team-content" *ngIf="userService.getUserTeam()">
    <mat-toolbar class="toolbar-title mat-elevation-z5">
        <span>Equipo</span>
    </mat-toolbar>

    <mat-form-field class = "team-info">
        <mat-label>Nombre del equipo:</mat-label>
        <input [value] = "userService.getUserTeam()?.nombre" matInput readonly>
    </mat-form-field>

    <mat-form-field  class = "team-info">
        <mat-label>Ciudad:</mat-label>
        <input [value] = "userService.getUserTeam()?.ciudad" matInput readonly>
    </mat-form-field>

    <mat-form-field  class = "team-info">
        <mat-label>Liga:</mat-label>
        <input [value] = "userService.getUserTeam()?.liga" matInput readonly>
    </mat-form-field>

    <mat-toolbar class="toolbar-title mat-elevation-z5">
        <span>Jugadores</span>
    </mat-toolbar>

    <div *ngIf = "!modify">
        <div *ngFor="let playerForm of userService.getUserTeam()?.plantillaEquipo">
            <app-player-form-post-creation [player]="playerForm"></app-player-form-post-creation>
        </div>
    </div>

    <div *ngIf = "modify">
        <div *ngFor="let playerForm of userService.getUserTeam()?.plantillaEquipo">
            <app-new-player-form [player]="playerForm"></app-new-player-form>
        </div>

        <button mat-button class = "control-buttons mat-elevation-z5">Añadir jugador</button>
        <button mat-button class = "control-buttons mat-elevation-z5">Eliminar jugadores seleccionados</button>
    </div>

</mat-card>

<button mat-button *ngIf="userService.getUserTeam() && !modify" class = " modify-team-button mat-elevation-z5" (click) = "modifyTeam()">Modificar equipo</button>

<button mat-button *ngIf="userService.getUserTeam() && modify" class = " modify-team-button mat-elevation-z5" (click) = "saveChanges()">Guardar cambios</button>
<button mat-button *ngIf="userService.getUserTeam() && modify" class = " modify-team-button mat-elevation-z5" (click) = "dontSaveChanges()">Salir sin modificar</button>