<ion-header>
    <ion-navbar height="20px" color="header">
      <button ion-button menuToggle id="button-toggle">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Equipos</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf = "userService.getUserLeague() != null">
    <button ion-item no-lines *ngFor= "let team of userService.getUserLeague()" (click)="teamSelect(team.id)">
      <ion-avatar item-start>
        <img [src] = "getImage(team.imagenEquipo, false)" (error) = "getImage('', true)">
      </ion-avatar>
      <p id ="team-name">{{team?.nombre}}</p>
    </button>
  </ion-list>

  <ion-row id = "no-teams" *ngIf = "userService.getUserLeague()?.length == 0">No hay equipos en esta liga</ion-row>
</ion-content>
