
<ion-header>
  <ion-navbar height="20px" color ="transparent">
    <button ion-button menuToggle id="button-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-row *ngIf ="status == 'disputado' || status == 'acta pendiente'" id = "match-info">
    <ion-col id = "local-name">
      <strong>{{match?.nombreEquipoLocal}}</strong>
    </ion-col>
    <ion-col id = "goals-local">
      {{match?.golesLocal}}
    </ion-col>
    <ion-col id = "separation">
      -
    </ion-col>
    <ion-col id = "goals-visitor">
      {{match?.golesVisitante}}
    </ion-col>
    <ion-col id = "visitor-name">
      <strong>{{match?.nombreEquipoVisitante}}</strong>
    </ion-col>
  </ion-row>
  <ion-row *ngIf= "status != 'acta pendiente' && status != 'disputado'" id = "match-info">
    <ion-col id = "local-name">
      <strong>{{match?.equipoLocalNombre}}</strong>
    </ion-col>
    <ion-col *ngIf= "status != 'acta pendiente' && status != 'disputado'" id = "match-time">
      {{match?.horaPartido ? match?.horaPartido : '-'}}
    </ion-col>
    <ion-col id = "visitor-name">
      <strong>{{match?.equipoVisitanteNombre}}</strong>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content >
    <ion-slides #slides slidesPerView="2">
        <ion-slide [class.selected] = "statSelected == 'stats'" (click)="selectStat('stats')">
                <p id="slide-title">Resumen</p>
        </ion-slide>
        <ion-slide [class.selected] = "statSelected == 'lineUp'" (click)="selectStat('lineUp')">
          <p id="slide-title">Titulares</p>
        </ion-slide>
    </ion-slides>
  <ion-list *ngIf = "statSelected == 'stats' && (status == 'disputado' || status == 'acta pendiente')">
    <div *ngIf = "incidences != undefined && incidences != null">
      <ion-row *ngFor = "let incidence of incidences" class = "info-rows">
        <ion-col col-xs-6 class = "stats-info-local"><strong>{{localPlayer(incidence.idJugador) == true ? incidence.jugador.nombre : ""}}</strong></ion-col>
        <ion-col col-xs-1 class = "stats-title">
          <img *ngIf = "incidence.tipo != 'GOL'" class = "cards" src = "assets/imgs/{{incidence.tipo}}.png">
          <ion-icon *ngIf = "incidence.tipo == 'GOL'" name = "football"></ion-icon>
          {{incidence.minuto}}"
        </ion-col>
        <ion-col col-xs-5 class = "stats-info-visitor"><strong>{{localPlayer(incidence.idJugador) == false ? incidence.jugador.nombre : ""}}</strong></ion-col>
      </ion-row>
    </div>
  </ion-list>

  <ion-list *ngIf = "statSelected == 'lineUp' && (status == 'disputado' || status == 'acta pendiente')">
    <ion-item *ngFor = "let local of match?.convocadosLocal; let i = index">
      <ion-row>
        <ion-col class = "info-lineup">
          <ion-row>
              <ion-col col-xs-2 id = "local-dorsal"><strong >{{local.dorsal}}</strong></ion-col>
              <ion-col col-xs-10 class = "player-name">{{local.nombre}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col class = "info-lineup" *ngIf = "match?.convocadosVisitante[i] != null && match?.convocadosVisitante[i] != undefined">
          <ion-row>
              <ion-col col-xs-2 id = "visitor-dorsal"><strong >{{match?.convocadosVisitante[i].dorsal}}</strong></ion-col>
              <ion-col col-xs-10 class = "player-name"> {{match?.convocadosVisitante[i].nombre}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-row id = "no-info" *ngIf= "status != 'acta pendiente' && status != 'disputado'" >El partido no se ha disputado.</ion-row>
  <div id = "map-button" *ngIf= "status != 'acta pendiente' && status != 'disputado'" >
      <button ion-button (click) = "viewGoogleMaps()">Cómo llegar</button>
  </div>
    

    
  
  
</ion-content>
