page-match {

    .scroll-content{
        background: white!important;
    }

    .header-md::after{
        background-image: none!important;
    }

    ion-header{
        min-height: 130px!important;
        background: #222f3e!important;
    }

    .toolbar-background{
        background: transparent!important;
    }

    #slide-title{
        color:rgba(255, 255, 255, 0.7);
    }

    ion-slides{
        background-color:#222f3e;
        max-height: 45px!important;
        box-shadow: inset 0 1px 0px #dcffa6, 0 1px 2px #000;
    }

    ion-slide {
        font-size: 15px!important;
        background-color:#222f3e;
        max-height: 45px!important;
    }
    
    .selected{
        background: #222f3e;
        border-top:0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom:2.5px solid #9ed7f8!important;
        p{
            color:white!important;
            font-size: 16px!important;
        }
    }

    #local-name, #visitor-name{
        margin-top:18px;
        font-size: 100%;
        color:#cab01c;
        text-align: center;
    }

    #goals-local , #goals-visitor, #match-time, #separation{
        color:#f7dc42;
        text-align: center;
        font-size: 300%;
    }

    #separation{
        font-size: 200%;
        text-align: center;
        margin-top:9px;
    }

    .stats-title{
        text-align: center;
    }

    .stats-info-local{
        text-align: left;
    }

    .stats-info-visitor{
        text-align: right;
    }

    #not-data-icon{
        width: 150px;
        height: 150px;
        margin:auto;
        display: block;
    }
    
    p{
        text-align: center!important;
    }

    .info-lineup{
        font-size: 90%;
        padding-top:0px;
        padding-bottom: 0px;
    }

    .player-content{
        padding: 0px;
    }

    .label-md{
        margin:0px;
    }


    #no-info{
        display: flex;
        justify-content: center;
        color:black;
        margin-top: 80px;
    }

    ion-item{
        margin:0px!important;
        padding: 0px!important;
        text-align: left;
    }

    #local-dorsal{
        color: #2980b9;
    }

    #visitor-dorsal{
        color: #e74c3c;
    }

    .player-name{
       margin: 0px; 
    }

    #visitor-dorsal, #local-dorsal{
        text-align: left!important;
        max-width: 25px;
    }

    #map-button {    
       justify-content: center;
       margin-top: 30px;
        display:flex;
    }
}
