<ion-header>
  <ion-navbar height="20px" color="header">
    <button ion-button menuToggle id="button-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi perfil</ion-title>
  </ion-navbar>

  <elastic-header [scrollArea] = "component" [headerHeight] = "header">
      <img id="profile-image" src="{{userService.getBaseURLforImages()}}{{userService.getUserLogged()?.fotoJugador}}" imageViewer/>
  </elastic-header>

  <ion-toolbar color="header" mode="md" id = "toolbar-options">
    <ion-segment color="underline" mode="md" [(ngModel)]= "selection">
      <ion-segment-button (click) = "clickButton('one')" class = "text-on-botton" value="one">
        <ion-icon name="home"></ion-icon>
        Perfil
      </ion-segment-button>
      <ion-segment-button (click) = "clickButton('two')" class = "text-on-botton" value="two">
          <ion-icon name="chatbubbles"></ion-icon>
          Sanciones
      </ion-segment-button>
      <ion-segment-button (click) = "clickButton('three')" class = "text-on-botton" value="three">
          <ion-icon name="cog"></ion-icon>
          Ajustes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen #component [ngSwitch] = "selection" >
 <ion-item no-lines *ngSwitchCase = "'one'">
   <ion-item id = "team-image-container" (click) = "goTeam()">
      <img id = "user-team-image" src = "{{userService.getBaseURLforImages()}}shield.png">
      <h1 id = "user-team-name">{{userService.getUserTeam()?.nombre}}</h1>
   </ion-item>
   <ion-row>
    <ion-col>
      Dorsal
    </ion-col>
    <ion-col class = "info-content">
      <strong>{{userService.getUserLogged().dorsal}}</strong>
    </ion-col>
  </ion-row>
   <ion-row lines>
     <ion-col>
       Goles
     </ion-col>
     <ion-col class = "info-content">
       <strong>{{userService.getUserLogged().goles}}</strong>
     </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
        Tartejas Amarillas
      </ion-col>
      <ion-col class = "info-content">
        <strong>{{userService.getUserLogged()?.tarjetasAmarillas}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          Tarjetas Rojas
        </ion-col>
        <ion-col class = "info-content">
          <strong>{{userService.getUserLogged()?.tarjetasRojas}}</strong>
        </ion-col>
   </ion-row>
   <h2>Sanciones activas:</h2>
   <p *ngIf = "userService.getActiveSanctions() == undefined || userService.getActiveSanctions() == null"  id = "no-active-sanctions">No tienes sanciones activas</p>
   <ion-card *ngFor = "let sanction of userService.getActiveSanctions()" id ="sanctions-card">
     <ion-card-content>
       <ion-row>
         <ion-col class = "card-titles">Fecha de sanción</ion-col>
         <ion-col class ="card-info" >{{sanction?.inicioSancion}}</ion-col>
       </ion-row>
       <ion-row>
         <ion-col class = "card-titles">Partidos restantes: </ion-col>
         <ion-col class ="card-info">{{sanction.partidosRestantes}}</ion-col>
       </ion-row>
     </ion-card-content>
   </ion-card>
 </ion-item>

 <ion-item no-lines *ngSwitchCase = "'two'">
    <ion-spinner class = "spinner" *ngIf = "playerSanctions == null" color ="ligth"></ion-spinner>
    <ion-card *ngFor = "let sanction of playerSanctions" id ="sanctions-card">
        <ion-card-content>
          <ion-row>
            <ion-col class = "card-titles">Fecha de sanción</ion-col>
            <ion-col class ="card-info" >{{sanction?.inicioSancion}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class = "card-titles">Partidos restantes: </ion-col>
            <ion-col class ="card-info">{{sanction.partidosRestantes}}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
 </ion-item>

 <ion-item no-lines *ngSwitchCase = "'three'">

 </ion-item>

</ion-content>
