page-profile {
    elastic-header{
        background-color: #363636;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
 
        img {
            border-radius: 50%;
            width: 75px;
            height: 75px;
            //margin-right: 15px;
        }
    }

    h2{
        margin-top:10px!important;
        color:#e74c3c;
        text-align: center;
    }

    .ios .scroll-content{
        padding-top: 0px!important;
        color:white;
    }

    .scroll-content{
        color: white;
    }

    .item-md[no-lines], .item-ios[no-lines] {
       background:#273342;
       color:white;
    }

    .item-md, .item-ios{
        background: transparent;
        color:white;
    }

    .button-inner {
        flex-flow: column!important;
    }

    #sanctions-card{
        height: 70px;
        text-align: center;
        background: #c0392b;
        margin:0px;
        margin-top:10px!important;
        width: 100%;
    }

    .spired{
        background: #55759c!important;
        
    }

    button.row{
        width: 100%;
        background: #ced6e0;
        border-radius: 3px;
    }

    ion-card-content ion-row ion-col{
        padding: 0px!important;
    }

    #no-active-sanctions{
        text-align: center;
        margin-top:10px;
        color:white;
    }

    .card-titles{
        color:white;
        text-align: left;
    }

    .card-info{
        text-align: right;
        color: white;
    }

    #user-team-image{
        margin-left:auto;
        margin-right: auto;
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    #user-team-name{
        text-align: center;
    }

    .info-content{
        text-align: right;
    }

    ion-label{
        margin:5px 8px 13px 0px!important;
    }

    ion-row{
        margin-bottom:10px;
    }

    .text-on-botton{
        color:white!important;
    }
    
    #toolbar-options{
        background-image: none;
        border:0px;
        border-bottom: 1.5px!important;
		border-style: solid!important;
        border-color: #9ed7f8!important;
    }

    .spinner{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;;
        width: 60px;
        height: 60px;
        min-height: 60px;
        min-width: 60px;
    }

    .spinner-md-crescent circle{
        stroke: white!important;
    }

    #change-password{
        margin-top:15px;
    }

    .notifications{
        font-size: 95%;
        color:rgb(236, 232, 232);
    }

    .settings-titles{
        margin-left: 15px;
        font-size: 110%;
    }

    #old-password{
        width: 92%;
        margin:12px auto;
        color:white;
        margin-bottom: 20px;
        background: #38485c;
    }

    .new-password{
        width: 92%;
        margin:12px auto;
        color:white;
        background: #38485c;
    }

    *::-webkit-input-placeholder{
        color:rgba(252, 252, 252, 0.438)!important;
    }

    #password-error{
        margin-left: 15px;
        color: red;
    }

    #send-passwords-button{
        margin: 12px auto;
        width: 92%;
    }
}
