<!--mat-toolbar>
  <span class = "options" *ngFor = "let option of options.rigth" routerLink = "/{{option.path}}">{{option.name}}</span>

  < This fills the remaining space of the current row >
  <span class="example-fill-remaining-space"></span>

  <span class = "options" *ngFor = "let option of options.left" >{{option.name}} </span>
</mat-toolbar-->
<nav-bar></nav-bar>
<router-outlet></router-outlet>
<!--template #panel></template>
<button mat-button (click) = "createPanel()" style = "color:white;background:rgb(0, 89, 255);">Crear Panel</button>
<button mat-button (click) = "showComponents()" style = "color:white;background:rgb(0, 89, 255);"> Obtener info</button>
<button mat-button (click) = "login()" style = "color:white;background:rgb(0, 89, 255);"> Login</button-->
