.ng-star-inserted{
    margin-bottom: 10px;
}
mat-toolbar{
    background:rgb(0, 89, 255);
}

mat-toolbar .options:hover{
    background:rgb(17, 69, 167);
}

mat-toolbar .options:focus{
    background:rgb(17, 69, 167);
}

mat-toolbar .options{
    color:white;
    padding:15px;
    cursor: pointer;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}