page-teams {
    .scroll-content{
        background: #2c3e50;
    }

    .list-md .item[no-lines], .list-md .item[no-lines] .item-inner{
        background: #2c3e50;
    }
    #team-name{
        color:white!important;
    }
}