page-teams {

    .toolbar-ios{
        border:0px!important;
        border-bottom: 1.5px!important;
        border-style: solid!important;
        border-color: #9ed7f8!important;
    }
    .list-ios .item[no-lines], .list-ios .item[no-lines] .item-inner {
        border-width: 0;
        background: transparent!important;
    }

    .scroll-content{
        background: #273342;
    }

    .list-md .item[no-lines], .list-md .item[no-lines] .item-inner{
        background: #273342;
    }

    #team-name{
        color:white!important;
    }

    .toolbar-md{
        background-image: none;
        border:0px;
        border-bottom: 1.5px!important;
		border-style: solid!important;
		border-color: #9ed7f8!important;
    }
}