page-teams {
    .scroll-content{
        background: #273342;
    }

    .list-md .item[no-lines], .list-md .item[no-lines] .item-inner{
        background: #273342;
    }

    #team-name{
        color:white!important;
    }

    .toolbar-md{
        background-image: none;
        border:0px;
        border-bottom: 1.5px!important;
		border-style: solid!important;
		border-color: #9ed7f8!important;
    }
}