page-match {
    ion-header{
        min-height: 175px!important;
        background: rgb(1, 27, 78)!important;
    }

    ion-slide{
        max-width: 33%!important;
    }
    .toolbar-background{
        background: transparent!important;
    }

    #slide-title{
        color:rgba(255, 255, 255, 0.7);
    }
    
    .selected{
        background: rgba(2, 47, 143, 0.801)!important;
        p{
            color:white!important;
            font-size: 19px!important;
        }
    }

    #local-name{
        margin-top:15px;
        font-size: 100%;
        color:rgb(214, 186, 26);
        text-align: center;
    }

    #visitor-name{
        margin-top:15px;
        font-size: 100%;
        color:rgb(214, 186, 26);
        text-align: center;
    }

    #goals-local , #goals-visitor, #match-time{
        color:rgb(214, 186, 26);
        text-align: center;
        font-size: 300%;
    }

    #separation{
        color:rgb(214, 186, 26);
        text-align: center;
        font-size: 200%;
    }

    .stats-title{
        text-align: center;
    }

    .stats-info-local{
        text-align: left;
    }

    .stats-info-visitor{
        text-align: right;
    }

    #not-data-icon{
        width: 150px;
        height: 150px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    p{
        text-align: center!important;
    }

    .info-lineup{
        font-size: 90%;
        padding: 0px!important;
    }

 
    ion-item{
        margin:0px!important;
        text-align: center;
    }
}
