button{
    color:white;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px; 
}
.mat-toolbar-row, .mat-toolbar-single-row{
    background: #3c40c6;
    height: 55px!important;
    -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.65);
}

header{
    min-width: 100%;
    min-height: 80px;
    background: #3c40c6; 
}