
#nav-icon{
    float:left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#nav-title{
    display: block;
    float:left;
    max-width: 150px;
    margin-top: 10px;
}

.app-header{
    max-height: 149px;
    height: 149px;
    width: 100%;
}

.app-background-header{
    background-image: url('../assets/imgs/football-background.jpg');
    background-size: 300px;
    -webkit-filter: brightness(40%) blur(0px) saturate(45%);
    max-height: 149px;
    height: 149px;
    width: 100%;
    position: absolute;
}

.div-image{
    margin-top:20px;
    margin-left:15px;
}

ion-nav{
   position: relative;
    display:block;
}

#menu-profile-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-filter:brightness(100%) blur(0px)!important;
}

#profile-button{
    border-color: black;
    border-radius: 35%;
    position: relative;
    float: right;
    display:block;
}

.scroll-content{
    box-shadow: 20px; 
    background:linear-gradient(to right,#152230, #131f2c);
}

.menu-titles{
    background: #192a3b;
    color:rgb(191, 240, 247);
    padding:10px;
}

.item-md p{
    color:rgb(209, 203, 203);
}

.menu-icons::before{
    color:#e4dc9f;
}

.menu-option-selected{
    border-left: 3.5px!important;
	border-style: solid!important;
	border-color: #9ed7f8!important;
    background: #283b50!important;
}

.menu-options{
    background:linear-gradient(to right,#152230, #131f2c);
}
