#page-title{
    max-width: 50%;
    margin-top: 35px;
    text-align: center!important;
    font-size: 200%; 
    margin-left: auto;
    margin-right: auto;
}

#page-title span{
    margin: 0 auto;
}

#login-card{
    margin-top: 30px;
    max-width: 350px;
    min-height: 300px;
    background:white;
    margin-left: auto;
    margin-right: auto;
}

#toolbar-title{
    color:white;
    background: #3c40c6;
    margin-bottom: 20px;
}

.login-inputs{
    margin-top: 20px;
    width: 100%;
}

#login-button{
    background: #3c40c6;
    color:white;
    margin-top:10px;
}