
<mat-toolbar  class = "page-title"><span>Acceso a la aplicación de alta de equipos</span></mat-toolbar>
<mat-card id = "login-card">
  <mat-toolbar class = "mat-elevation-z5" id = "toolbar-title">Inicio de sesion</mat-toolbar>
  <mat-card-content>
    <mat-form-field class = "login-inputs">
      <input [formControl]="userInput"  matInput placeholder="Usuario" required>
      <mat-error *ngIf="userInput.invalid">{{getUserErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class = "login-inputs">
      <input #password [formControl]="passwordInput"  matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwordInput.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-button class = "mat-elevation-z5" id = "login-button" (click) = "login(user.value, password.value)">Iniciar sesión</button>

    <p>¿No tiene usuario? <a href="#" routerLink = "/solicitarUsuario">Solicitar usuario</a></p>
  </mat-card-content>
</mat-card>
