
page-home{

	ion-col{
		text-align: center;
		font-size: 95%;
		padding:0px!important;
		min-width: 25px!important;
	}

	ion-grid{
		padding:0px!important;
	}
	
	#colum-titles{
		background: rgb(0, 132, 255);
		color:white;
		padding-top:5px!important;
		padding-bottom:5px!important;
		margin-bottom: 0px!important;
	}

	#title-team{
		text-align: left!important;
	}

	.team-info{
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}

	#team-position{
		color: white;
		background: red;
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}

	#team-name{
		text-align: left!important;
		min-width: 80px;
		padding-left:5px!important; 
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	
	#partido{
		background: yellow;
		float:left;
		display:block;
	}

	#team-shield-background{
		background-image: url('../assets/imgs/football-background.jpg');
		-webkit-filter: brightness(25%) saturate(50%);
		background-position: center center;
		background-repeat: no-repeat;
		background-size:cover;
		position: absolute;
		min-height: 115px!important;
		height: 150px;
		width: 100%;
	}
	#shield-team-image{
		position: relative;
		margin-left:auto;
		margin-right: auto;
		display: block;
		width: 130px;
		height: 130px;
		margin-top:15px!important;
		//filter:brightness(180%);
	}

	.team-info-content{
		.scroll-content{
			background: #2c3e50;
			padding:0px!important;
		}
	}

	#profile-team-name{
		margin-top: 10px;
		margin-bottom: 5px; 
		text-align: center;
		font-size: 200%;
		color: #f1c40f;
	}

	.profile-team-titles{
		margin-top: 15px;
		text-align: center;
		color:#3baffc;
		font-style: oblique;
	}

	.profile-team{
		margin-top:5px;
		text-align: center;
		color: white;
	}
}


