

<ion-content>
    <ion-slides  slidesPerView="3" *ngIf = "navParams.data[0] == 'league'">
        <ion-slide *ngFor="let num of userService.getRounds()" [class.selected] = "roundSelected === num" (click)="roundInfo(num)"  >
                    <p id="slide-title">Jornada {{num}}</p>
        </ion-slide>
    </ion-slides>
    <ion-scroll style="width:100%;height:100vh" scrollY="true" hideScroll= "true" *ngIf = "navParams.data[0] == 'league'">
        <ion-grid *ngFor = "let match of roundMatches; let i = index" (click) = "matchInfo(match.id)">
            <ion-row id = "date" *ngIf = "match.fechaPartido != roundMatches[i].fechaPartido || i == 0">
                <ion-col>{{match.fechaPartido}}</ion-col>
            </ion-row>
            <ion-row class = "lines"></ion-row>
            <ion-row *ngIf = "match.estado != 'Finalizado' || match.estado != 'finalizado'">
                <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
                <ion-col col-4><h1>{{match.horaPartido}}</h1></ion-col>
                <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
            </ion-row>
            <ion-row *ngIf = "match.estado == 'Finalizado' || match.estado == 'finalizado'">
                <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
                <ion-col col-1 class= "score-local"><h1>{{match.golesLocal}}</h1></ion-col>
                <ion-col col-2><h1>-</h1></ion-col>
                <ion-col col-1 class = "score-visitor"><h1>{{match.golesVisitante}}</h1></ion-col>
                <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
            </ion-row>
            <ion-row class = "lines" *ngIf = "(i+1) == roundMatches.length"></ion-row>
        </ion-grid>
  </ion-scroll>
  <ion-scroll style="width:100%;height:100vh" scrollY="true" hideScroll= "true" *ngIf="navParams.data[0] == 'team' || navParams.data[0] == 'teamsList'">
    <ion-grid *ngFor = "let match of teamMatches; let i = index" (click) = "matchInfo(match.id)">
        <ion-row id = "date" *ngIf = "match.fechaPartido != teamMatches[i].fechaPartido || i == 0">
            <ion-col>{{match.fechaPartido}}</ion-col>
        </ion-row>
        <ion-row class = "lines"></ion-row>
        <ion-row *ngIf = "match.estado != 'Finalizado' || match.estado != 'finalizado'">
            <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
            <ion-col col-4><h1>{{match.horaPartido}}</h1></ion-col>
            <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
        </ion-row>
        <ion-row *ngIf = "match.estado == 'Finalizado' || match.estado == 'finalizado'">
            <ion-col col-4 class= "team-local">{{match.equipoLocal.nombre}}</ion-col>
            <ion-col col-1 class= "score-local"><h1>{{match.golesLocal}}</h1></ion-col>
            <ion-col col-2><h1>-</h1></ion-col>
            <ion-col col-1 class = "score-visitor"><h1>{{match.golesVisitante}}</h1></ion-col>
            <ion-col col-4 class = "team-visitor">{{match.equipoVisitante.nombre}}</ion-col>
        </ion-row>
        <ion-row class = "lines" *ngIf = "(i+1) == teamMatches.length"></ion-row>
    </ion-grid>
</ion-scroll>
</ion-content>