.page-title{
    max-width: 50%;
    min-width: 480px;
    margin-top: 35px;
    font-size: 150%; 
    margin-left: auto;
    margin-right: auto;
}

.page-title span{
    margin: 0 auto;
}

.confirmations-title{
    max-width: 50%;
    min-width: 480px;
    background: #3c40c6;
    height: 40px;
    max-height: 80px;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center!important;
    font-size: 150%; 
    margin-left: auto;
    margin-right: auto;
}

.confirmations-title span{
    margin: 0 auto;
    color:white;
}

#exist-team{
    width: 70%;
    color:white;
    text-align:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background:#3c40c6;
}

#no-team span{
    margin: 0 auto;
}

.data-inputs{
    width: 40%;
    margin-left: 20px;
    margin-left: 20px;
}

#input-form{
    display:block;
    max-width: 70%;
    margin: 0 auto;
}

#change-photo-button{
    display:block;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}


.image{
    vertical-align: middle;
    margin-left:40px; 
    max-width: 150px;
    max-height: 150px;
}

.control-buttons{
    margin-right: 15px;
    margin-top:15px;
    color: white;
    background: #3c40c6;
}

.stepper-button{
    margin-top: 10px;
    color: white;
    background: #5459ff;
}

.divider{
    margin-top:15px;
}

.team-confirmation-inputs{
    width: 20%;
    margin-left: 50px;
    margin-right: 50px;
}

.team-confirmation-label{
    color:#3c40c6;
}

.team-confirmation-content{
    display: block!important;
    margin: 0 auto!important;
}

#exist-team span{
    margin: 0 auto;
}
