.page-title{
    max-width: 50%;
    min-width: 480px;
    margin-top: 35px;
    font-size: 150%; 
    margin-left: auto;
    margin-right: auto;
}

.page-title span{
    margin: 0 auto;
}

#exist-team{
    width: 70%;
    color:white;
    text-align:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background:#3c40c6;
}

#no-team span{
    margin: 0 auto;
}

.data-inputs{
    width: 48%;
    margin-left: 20px;
}

#input-form{
    display:block;
    max-width: 70%;
    margin: 0 auto;
}

#change-photo-button{
    display:block;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}


.image{
    vertical-align: middle;
    margin-left:40px; 
    max-width: 150px;
    max-height: 150px;
}

.control-buttons{
    margin-right: 15px;
    margin-top:15px;
    color: white;
    background: #3c40c6;
}

.stepper-button{
    margin-top: 10px;
    color: white;
    background: #5459ff;
}

.divider{
    margin-top:15px;
}
