<mat-toolbar mat-dialog-title id = "title-toolbar" [class.errorToolbar] = "error == true">{{data.title}}</mat-toolbar>
<mat-dialog-content>
    <div id = "dialog-content">
        {{data.text}}
    </div>
    <mat-progress-spinner style="margin: 0 auto; margin-top: 30px" *ngIf = "spinner" mode = "indeterminate"></mat-progress-spinner>
</mat-dialog-content>
<mat-dialog-actions *ngIf = "!multioption && !spinner" >
    <button mat-button mat-dialog-close class = "mat-elevation-z5">Aceptar</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf = "multioption && !spinner" >
    <button mat-button [mat-dialog-close] = "false" class = "mat-elevation-z5">Cancelar</button>
    <button mat-button [mat-dialog-close] = "true" class = "mat-elevation-z5">Aceptar</button>
</mat-dialog-actions>