<ion-header>
    <ion-navbar height="20px" color ="transparent">
      <button ion-button menuToggle id="button-toggle">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <ion-row id = "main-info" *ngIf="player != undefined && playerTeam != undefined">
      <ion-col col-xs-8 class ="col-player-image">
          <img id = "player-image" src ="{{userService.getBaseURLforImages()}}{{player?.fotoJugador}}">
      </ion-col>
      <ion-col col-xs-1> 
        <h1 id = "player-number">{{player?.dorsal}}</h1>
      </ion-col>
      <ion-col col-xs-3 id ="player-team">
        <strong>{{playerTeam?.nombre}}</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="player != undefined && playerTeam != undefined">
      <ion-col col-xs-12 id = "player-name">
          <h1 id = "player-name-text">{{player?.nombre}}    {{player?.apellidos}}</h1>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content padding >
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col class = "name-player-atribute">
            Posición
        </ion-col>
        <ion-col class = "player-atribute">
            <strong>{{player?.posicion}}</strong>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
          <ion-col class = "name-player-atribute">
            Nacionalidad
          </ion-col>
          <ion-col class = "player-atribute">
            <strong>{{player?.nacionalidad}}</strong>
          </ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
          <ion-col class = "name-player-atribute">
            Edad
          </ion-col>
          <ion-col class = "player-atribute">
            <strong>{{player?.edad}}</strong>
          </ion-col>
        </ion-row>
      </ion-item>
    <ion-item>
        <ion-row>
          <ion-col class = "name-player-atribute">
            Goles
          </ion-col>
          <ion-col class = "player-atribute">
            <strong>{{player?.goles}}</strong>
          </ion-col>
        </ion-row>
      </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class = "name-player-atribute">
            Tarjetas Amarillas 
        </ion-col>
        <ion-col class = "player-atribute">
            <strong>{{player?.tarjetasAmarillas}}</strong>
        </ion-col>
      </ion-row>          
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class = "name-player-atribute">
          Tarjetas Rojas
        </ion-col>
        <ion-col class = "player-atribute">
          <strong>{{player?.tarjetasRojas}}</strong>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
