
<ion-header>
  <ion-navbar height="20px" color ="transparent">
    <button ion-button menuToggle id="button-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-row *ngIf ="match?.estado == 'Disputado' || match?.estado == 'disputado'" id = "match-info">
    <ion-col id = "local-name">
      <strong>{{match?.equipoLocal.nombre}}</strong>
    </ion-col>
    <ion-col id = "goals-local">
      {{match?.golesLocal}}
    </ion-col>
    <ion-col id = "separation">
      -
    </ion-col>
    <ion-col id = "goals-visitor">
      {{match?.golesVisitante}}
    </ion-col>
    <ion-col id = "visitor-name">
      <strong>{{match?.equipoVisitante.nombre}}</strong>
    </ion-col>
  </ion-row>
  <ion-row *ngIf= "match?.estado == 'Pendiente' || match?.estado == 'pendiente'" id = "match-info">
    <ion-col id = "local-name">
      <strong>{{match?.equipoLocal.nombre}}</strong>
    </ion-col>
    <ion-col id = "match-time">
      {{match?.horaPartido}}
    </ion-col>
    <ion-col id = "visitor-name">
      <strong>{{match?.equipoVisitante.nombre}}</strong>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content >
    <ion-slides #slides slidesPerView="3">
        <ion-slide [class.selected] = "statSelected == 'stats'" (click)="selectStat('stats')">
                <p id="slide-title">Estadísticas</p>
        </ion-slide>
        <ion-slide [class.selected] = "statSelected == 'goals'" (click)="selectStat('goals')">
            <p id="slide-title">Goles</p>
        </ion-slide>
        <ion-slide [class.selected] = "statSelected == 'lineUp'" (click)="selectStat('lineUp')">
          <p id="slide-title">Titulares</p>
        </ion-slide>
    </ion-slides>
  <ion-list *ngIf = "statSelected == 'stats' && match?.estado == 'Disputado' || match?.estado == 'disputado'">
      <ion-row>
        <ion-col col-xs-4 class = "stats-info-local"><strong>5</strong></ion-col>
        <ion-col col-xs-4 class = "stats-title">InfoTitle</ion-col>
        <ion-col col-xs-4 class = "stats-info-visitor"><strong>4</strong></ion-col>
      </ion-row>
  </ion-list>

  <ion-list *ngIf = "statSelected == 'lineUp' && match?.estado == 'Disputado' || match?.estado == 'disputado'">
    <ion-item *ngFor = "let localPlayer of match?.convocadosLocal; let i = index">
      <ion-row>
        <ion-col class = "info-lineup">
          <strong>{{localPlayer.dorsal}}</strong> {{localPlayer.nombre}}
        </ion-col>
        <ion-col class = "info-lineup" *ngIf = "match?.convocadosVisitante[i] != null && match?.convocadosVisitante[i] != undefined">
         <strong>{{match?.convocadosVisitante[i].dorsal}}</strong> {{match?.convocadosVisitante[i].nombre}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-row id = "no-info" *ngIf = "match?.estado == 'Pendiente' || match?.estado == 'pendiente'">El partido no se ha disputado.</ion-row>
</ion-content>
