page-league-tab {
    #player-position{
        text-align: center;
    }

    #player-image{
        max-width: 50px;
        max-height: 50px;
    }

    #player-name{
        text-align: left;
    }

    #player-goals{
        text-align: center;
    }
}
