league-tab {
    #player-position{
        text-align: center;
        padding-top:25px!important;
        padding-bottom: 25px!important;
        color:white;        
    }

    ion-item{
        background: rgb(17, 77, 199)!important;
        max-width: 95%!important;
        margin:12px auto!important;
        padding:0px!important;
    }
    
    #player-image{
        max-width: 50px;
        max-height: 50px;
        width: 50px;
        height: 50px;
        position:relative;
        display: block;
        border-radius: 100%;
    }

    #player-name{
        padding-top:25px!important;
        padding-bottom: 25px!important;
        text-align: left;
        color:white;
    }

    #player-goals{
        text-align: center;
        padding-top:25px!important;
        padding-bottom: 25px!important;
        color:white;
    }

    ion-col{
        margin:0px!important;
    }
}
