

<ion-content>
    <ion-slides #slides slidesPerView="3" *ngIf = "navParams.data[0] == 'league'">
        <ion-slide *ngFor="let num of userService.getRounds()" [class.selected] = "roundSelected === num" (click)="roundInfo(num)"  >
                    <p id="slide-title">Jornada {{num}}</p>
                    <div class = "triangle" [class.colored-traingle]= "roundSelected === num"></div>
        </ion-slide>
    </ion-slides>
   
    <ion-row id = "no-matches" *ngIf = "isEmpty">No hay partidos disponibles</ion-row>
    <ion-spinner class = "spinner" *ngIf = "roundMatches == null && teamMatches == null && !isEmpty"></ion-spinner>
    <ion-scroll  style="width:100%;height:100vh" scrollY="true" hideScroll= "true" *ngIf = "navParams.data[0] == 'league' && roundMatches != undefined">
        <ion-grid *ngFor = "let match of roundMatches; let i = index" (click) = "matchInfo(match?.id, match?.estado)">
            <div *ngIf ="match.jornada == roundSelected">
                <ion-row id = "date" *ngIf = "i == 0 || match.fechaPartido != roundMatches[i-1]?.fechaPartido">
                    <ion-col>{{match.fechaPartido}}</ion-col>
                </ion-row>
                <ion-row class = "lines"></ion-row>
                <ion-row *ngIf = "match.estado != 'Disputado' && match.estado != 'disputado'">
                    <ion-col col-4 class= "team-local">{{match.equipoLocalNombre}}</ion-col>
                    <ion-col col-4><h1>{{match.horaPartido}}</h1></ion-col>
                    <ion-col col-4 class = "team-visitor">{{match.equipoVisitanteNombre}}</ion-col>
                </ion-row>
                <ion-row *ngIf = "match.estado == 'Disputado' || match.estado == 'disputado'">
                    <ion-col col-4 class= "team-local">{{match.equipoLocalNombre}}</ion-col>
                    <ion-col col-1 class= "score-local"><h1>{{match.golesLocal}}</h1></ion-col>
                    <ion-col col-2><h1>-</h1></ion-col>
                    <ion-col col-1 class = "score-visitor"><h1>{{match.golesVisitante}}</h1></ion-col>
                    <ion-col col-4 class = "team-visitor">{{match.equipoVisitanteNombre}}</ion-col>
                </ion-row>
                <ion-row class = "lines" *ngIf = "(i+1) == roundMatches.length"></ion-row>
            </div>
        </ion-grid>
  </ion-scroll>
  <ion-scroll style="width:100%;height:100vh" scrollY="true" hideScroll= "true" *ngIf="navParams.data[0] == 'team' || navParams.data[0] == 'teamsList'">
    <ion-grid *ngFor = "let match of teamMatches; let i = index" (click) = "matchInfo(match?.id, match?.estado)" [class.team-view-rounds] = "navParams.data[0] == 'team' || navParams.data[0] == 'teamsList'">
        <ion-row id = "date" *ngIf = "i == 0 || match.fechaPartido != teamMatches[i-1].fechaPartido">
            <ion-col>{{match.fechaPartido}}</ion-col>
        </ion-row>
        <ion-row class = "lines"></ion-row>
        <ion-row *ngIf = "match.estado != 'Disputado' && match.estado != 'disputado'">
            <ion-col col-4 class= "team-local">{{match.equipoLocalNombre}}</ion-col>
            <ion-col col-4><h1>{{match.horaPartido}}</h1></ion-col>
            <ion-col col-4 class = "team-visitor">{{match.equipoVisitantNombre}}</ion-col>
        </ion-row>
        <ion-row *ngIf = "match.estado == 'Disputado' || match.estado == 'disputado'">
            <ion-col col-4 class= "team-local">{{match.equipoLocalNombre}}</ion-col>
            <ion-col col-1 class= "score-local"><h1>{{match.golesLocal}}</h1></ion-col>
            <ion-col col-2><h1>-</h1></ion-col>
            <ion-col col-1 class = "score-visitor"><h1>{{match.golesVisitante}}</h1></ion-col>
            <ion-col col-4 class = "team-visitor">{{match.equipoVisitanteNombre}}</ion-col>
        </ion-row>
        <ion-row class = "lines" *ngIf = "(i+1) == teamMatches.length"></ion-row>
    </ion-grid>
</ion-scroll>
</ion-content>