page-stats {
    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }

    .hist-titles{
        color: white;
        font-size: 14px;
        text-align: center;
        margin-bottom: 15px;
    }

    .canvas{
        color: white;
    }

    .dont-found{
        color: white;
        font-size: 14px;
        text-align: center;
        margin-top: 45px; 
    }
}
