ranks-tab {

    ion-slides{
        background-color:#649cfd;
    }

    .scroll-content{
        background: rgb(1, 27, 78);
    }

    #slide-title{
        color:rgba(255, 255, 255, 0.7);
    }
    
    .selected{
        background: #3f79dd;
        p{
            color:white!important;
            font-size: 19px!important;
        }
    }

    .player-info:hover{
        background: rgba(10, 82, 226, 0.664)!important
    }
    
    #player-position{
        text-align: center;
        padding-top:25px!important;
        padding-bottom: 25px!important;
        color:white;        
    }
    
    #player-position{
        padding-top:32px!important;
        color:rgb(247, 220, 66);
        background: rgb(4, 56, 161);
    }

    #player-image{
        max-width: 50px;
        max-height: 50px;
        width: 50px;
        height: 50px;
        margin-top:10px;
        position:relative;
        display: block;
        border-radius: 100%;
    }

    #player-name{
        padding-top:32px!important;
        padding-bottom: 25px!important;
        text-align: left;
        color:white;
    }

    #player-goals{
        padding-top:25px!important;
        padding-bottom: 25px!important;
        text-align: center;
        color:white;
    }

    h1{
        margin:0px!important;
    }
    ion-col{
        margin:0px!important;
    }

    ion-row{
        max-height: 80px!important;
        margin-top:10px;
        background: rgb(3, 37, 105)!important
    }
    .item-md.item-block .item-inner{
        padding-right: 0px!important;
    }
}
