<br>
<mat-accordion class = "player-expansion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header class = "mat-elevation-z0">
      <mat-panel-title>
          <mat-checkbox (click)="$event.stopPropagation();" [(ngModel)] = "check" class = "checkbox" >Jugador: <strong>{{player?.nombre}}</strong> Dorsal: <strong id = "dorsal"> {{player?.dorsal}}</strong></mat-checkbox>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>

    <form [formGroup] = "controls">
      <mat-form-field class = "inputs">
        <input (keyup) = "getValue('name')" type = "text" matInput placeholder="Nombre" formControlName = "name" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('name')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input (keyup) = "getValue('lastname')" type = "text" matInput  placeholder="Apellidos" formControlName = "lastname" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('lastname')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input  [matDatepicker] = "picker" (dateChange) = "getValue(birthdate.value, 'birthdate')" type = "text" matInput  placeholder="fecha Nacimiento" formControlName = "birthdate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="controls.invalid">{{inputErrors('birthdate')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input (change) = "getValue('email')" type = "text" matInput placeholder="Email" formControlName = "email" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('email')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input [(ngModel)] = "dniInputValue" type = "text" matInput placeholder="DNI" formControlName = "dni" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('dni')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <mat-select (change) = "getValue('position')" placeholder="Posición del jugador" formControlName = "position" required>
          <mat-option value = "{{option}}" *ngFor = "let option of playerPositions">{{option}}</mat-option>
        </mat-select>
        <mat-error *ngIf="controls.invalid">{{inputErrors('position')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input (keyup) = "getValue('birthplace')" type = "text" matInput placeholder="Lugar de nacimiento" formControlName = "birthplace" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('birthplace')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
        <input (keyup) = "getValue('nacionality')" type = "text" matInput placeholder="Nacionalidad" formControlName = "birthplace" required>
        <mat-error *ngIf="controls.invalid">{{inputErrors('nacionality')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class = "inputs">
          <input  [(ngModel)] = "dorsalInputValue" (ngModelChange)="getValue('dorsal')" type = "number" min = "0" max = "99" matInput placeholder="Dorsal" formControlName = "dorsal" required>
          <mat-error *ngIf="controls.invalid">{{inputErrors('dorsal')}}</mat-error>
      </mat-form-field>
      
      <label>Foto jugador: </label><input (change) = "imageChanged($event)" type = "file" required>
    </form>
    <mat-checkbox (click)="$event.stopPropagation();" [(ngModel)] = "captain" (change) = "getCheckValue($event)" class = "checkbox" >Capitán</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
