.checkbox{
    display: block!important;
}

.player-expansion-panel{
    color: white!important;
    background: #3c40c6!important;
}

.inputs{
    min-width: 20%;
    margin-right: 15px;
}
.mat-checkbox-frame{
    background: #565be2!important;
}

.mat-checkbox-frame{
    background: #565be2!important;
    border-color: #7079f3;
}

#dorsal{
    margin-left: 5px;
    font-size: 120%;
}
