<div id = "university-shield">
  <img id = "urjc-logo" src = "assets/images/logoUrjc.png">
  <h2 id = "title">Ligas URJC</h2>
</div>
<div class = "body-text">
  <p>Bienvenido a la web de inscripción a las ligas deportivas de la universidad URJC.</p>
  <p>Si ya ha posee un usuario para dar de alta a su equipo podrá acceder al sistema en la pestaña <strong>"Inicio de sesión"</strong>.</p>
  <p>Si está interasado en dar de alta a un equipo y no tiene usuario, haga click en <strong>"Solicitar usuario"</strong> para poder enviar su petición al comité deportivo</p>

</div>
